.footer {
  flex-shrink: 0;
}

.footer__bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  padding: 23px 15px 10px;
  text-align: center;
  border-top: 1px solid rgba(45, 56, 63, 0.2);

  @media (min-width: $tablet-width) {
    row-gap: 24px;
    padding: 33px 45px 10px;
  }

  @media (min-width: $desktop-width) {
    padding: 32px 120px 22px;
    row-gap: 10px;
  }
}

.footer__wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    padding: 9px 0 9px 29px;
    margin-bottom: 12px;
  }
}

.footer__logo {
  margin: 0 auto;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    width: 142px;
    height: 42px;
    margin: 0;
  }
}

.footer__logo-img {
  display: block;
}

.footer__phone {
  display: none;

  &:hover {
    color: rgba(2, 102, 193, 0.1);
  }

  &:focus {
    color: #0266c1;
  }

  &:active {
    color: #1c3374;
  }

  @media (min-width: $desktop-width) {
    display: block;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    margin-left: 26px;
    color: inherit;
    text-decoration: none;
  }
}

.footer__list-links {
  margin: 0;
  padding: 0;
  list-style: none;
  column-count: 2;
  column-gap: 50px;

  @media (min-width: $tablet-width) {
    display: flex;
    column-count: initial;
    column-gap: 4px;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    justify-content: center;
    column-gap: 10px;
  }
}

.footer__item {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.footer__link {
  position: relative;
  display: inline-block;
  padding: 3px 10px;
  text-decoration: none;
  color: inherit;

  &:hover:not(:active):not(:focus) {
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 1px;
      background-color: #2d383f;
    }
  }

  &:focus {
    outline: 1px solid #2d383f;
    border-bottom: none;
    padding-bottom: 3px;
  }

  &:active {
    color: #0266c1;
    outline: none;
  }
}

.footer__copyright-link {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  text-decoration: none;
  padding: 10px;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: #0266c1;
  }
}
