.hero__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero__item {
  position: relative;
  padding: 40px 15px 56px;

  @media (min-width: $tablet-width) {
    padding: 40px 45px 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 80px 120px;
  }
}

.hero__swiper {
  position: relative;
}

.hero__swiper--overlay {
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(45, 56, 63, 0.6);
    z-index: 2;
  }
}

.hero__img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.hero__inner {
  width: 290px;
  min-height: 472px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  span {
    font-size: 26px;
    line-height: 26px;
    font-weight: 800;
    margin-bottom: 15px;
    color: #ffffff;
  }

  p {
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 60px;
    color: #ffffff;
  }

  @media (min-width: $tablet-width) {
    width: 678px;
    min-height: 894px;

    span {
      font-size: 56px;
      line-height: 56px;
    }

    p {
      width: 500px;
      font-size: 17px;
      line-height: 24px;
      margin: 0 auto;
      margin-bottom: 35px;
    }

    &--second {
      min-height: 387px;
      justify-content: flex-end;
      margin-bottom: 45px;
    }
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-end;
    width: 1200px;
    min-height: 640px;
    padding-right: 256px;
    text-align: left;

    span {
      font-size: 77px;
      line-height: 77px;
      margin-bottom: 25px;
    }

    p {
      width: 420px;
      margin: 0;
      margin-bottom: 35px;
    }

    &--second {
      margin-bottom: 0;
      padding-right: 390px;
    }
  }
}

.hero__link {
  display: block;
  min-width: 180px;
  max-width: 180px;
  padding: 20px 10px;
  margin: 0 auto;
  text-decoration: none;
  color: #ffffff;
  background-color: #0266c1;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;

  &:hover,
  &:focus {
    background-color: #ffffff;
    color: #1c3374;
    outline: 1px solid #1c3374;
  }

  &:focus {
    outline: none;
  }

  &:active {
    color: #ffffff;
    background-color: #1c3374;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 134px;
    text-align: center;
  }
}

.hero__info-wrapper {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    column-gap: 10px;
  }
}

.hero__info-wrapper .hero__info {
  position: relative;
  display: inline-block;
  padding: 13px 19px 13px 39px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  border: 1px solid rgba(255, 255, 255, 0.5);

  &::before {
    position: absolute;
    left: 19px;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 12px;
    height: 12px;
  }
}

.hero__info-wrapper .hero__info--duration {
  &::before {
    background-image: url("/__spritemap#sprite-moon-view");
  }
}

.hero__info-wrapper .hero__info--level {
  &::before {
    background-image: url("/__spritemap#sprite-level-view");
  }
}

.hero__img {
  display: block;
  width: 100%;
  object-fit: fill;
  height: 568px;

  @media (min-width: $tablet-width) {
    height: 1034px;
  }

  @media (min-width: $desktop-width) {
    height: 800px;
  }
}

.hero__img-container {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 442px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    right: 120px;
    top: 187px;
    z-index: -1;
    width: 410px;
    height: 459px;
  }
}

.hero__pagination,
.swiper-pagination {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  @media (min-width: $desktop-width) {
    bottom: 92px;
    right: 120px;
    left: auto;
    transform: none;
  }
}
