.pagination,
.swiper-pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}

.pagination__button,
.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #ffffff;
  cursor: pointer;

  &:hover {
    background-color: #d9d9d9;
  }

  &:focus {
    background-color: rgba(255, 255, 255, 0.5);
  }

  &:active {
    background-color: transparent;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    outline-offset: 1px;
  }

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }
}

.pagination__button,
.swiper-pagination-bullet-active {
  background-color: #ffffff;
}
