.social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    gap: 15px;
  }
}

.social-list__link {
  position: relative;
  display: block;
  width: 32px;
  height: 30px;
  border: 1px solid rgba(45, 56, 63, 0.3);

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    background-color: #2d383f;
  }

  &:hover {
    border-color: #2d383f;
  }

  &:focus {
    border-color: transparent;
  }

  &:active {
    background-color: #0266c1;
    border: none;

    &::before {
      background-color: #ffffff;
    }
  }

  @media (min-width: $desktop-width) {
    width: 30px;
  }
}

.social-list__link--vk {
  &::before {
    width: 18px;
    height: 9px;
    mask-image: url("/__spritemap#sprite-vk-footer-view");
  }
}

.social-list__link--ok {
  &::before {
    width: 11px;
    height: 16px;
    mask-image: url("/__spritemap#sprite-ok-view");
  }
}

.social-list__link--reddit {
  &::before {
    width: 16px;
    height: 15px;
    mask-image: url("/__spritemap#sprite-reddit-view");
  }
}
